<div class="swiper-container" id="swiper-one">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="Content/images/img_01.jpg" alt="1"/>
        </div>
        <div class="swiper-slide">
            <img src="Content/images/img_02.jpg" alt="2"/>
        </div>
        <div class="swiper-slide">
            <img src="Content/images/img_03.jpg" alt="3"/>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<div class="four-icon">
    <dl>
        <dt>
            <i class="fa fa-sun-o f18"></i>
        </dt>
        <dd>车商城</dd>
    </dl>
    <dl>
        <dt>
            <i class="fa fa-credit-card f18"></i>
        </dt>
        <dd>分期购车</dd>
    </dl>
    <dl>
        <dt>
            <i class="fa fa-bell"></i>
        </dt>
        <dd>团购活动</dd>
    </dl>
    <dl>
        <dt>
            <i class="fa fa-dashboard"></i>
        </dt>
        <dd>找二手车</dd>
    </dl>
</div>
<div class="banner">
    <img src="Content/images/img_04.jpg" alt="4">
</div>
<div class="server-list">
    <div class="list-title f18">
        车主服务
    </div>
    <div class="list-body">
        <div class="list-one">
            <dl>
                <dt>
                    <img src="Content/images/img_05.jpg" alt="5">
                </dt>
                <dd>
                    油卡充值
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="Content/images/img_06.jpg" alt="5">
                </dt>
                <dd>
                    低价保险
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="Content/images/img_07.jpg" alt="5">
                </dt>
                <dd>
                    4S点保养
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="Content/images/img_08.jpg" alt="5">
                </dt>
                <dd>
                    品质轮胎
                </dd>
            </dl>

        </div>
        <div class="list-two">
            <dl>
                <dt>
                    <img src="Content/images/img_09.jpg" alt="5">
                </dt>
                <dd>
                    车品商城
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="Content/images/img_10.jpg" alt="5">
                </dt>
                <dd>
                    洗车
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="Content/images/img_11.jpg" alt="5">
                </dt>
                <dd>
                    违章代缴
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="Content/images/img_12.jpg" alt="5">
                </dt>
                <dd>
                    免费测评
                </dd>
            </dl>
        </div>
        <div class="list-three">
            <dl>
                <dt>
                    <img src="Content/images/img_13.jpg" alt="5">
                </dt>
                <dd>
                    查周边
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="Content/images/img_14.jpg" alt="5">
                </dt>
                <dd>
                    车主卡
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="Content/images/img_15.jpg" alt="5">
                </dt>
                <dd>
                    领券保养
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="Content/images/img_16.jpg" alt="5">
                </dt>
                <dd>
                    全部
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="flash-sale">
    <div class="sale-title">
        <div class="f18">限时抢购</div>
    </div>
    <div class="sale-body" id="wrapper">
        <ul>
            <li>
                <dl>
                    <dt>
                        <img src="Content/images/img_24.jpg" alt="24">
                    </dt>
                    <dd>
                        <h6>补胎工具简易套装</h6>
                        <div>
                            <span>¥9.9元</span>
                            <span>28元</span>
                        </div>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>
                        <img src="Content/images/img_25.jpg" alt="25">
                    </dt>
                    <dd>
                        <h6>车用背椅挂钩</h6>
                        <div>
                            <span>¥9.9元</span>
                            <span>28元</span>
                        </div>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>
                        <img src="Content/images/img_24.jpg" alt="24">
                    </dt>
                    <dd>
                        <h6>车用背椅挂钩</h6>
                        <div>
                            <span>¥9.9元</span>
                            <span>28元</span>
                        </div>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="activity-zone">
    <div class="zone-title">
        <div class="f18 zone-title-one">活动专区</div>
        <div class="f18 zone-title-two text-light-gray">
            <span>更多活动</span>
                    <span>
                        <i class="fa fa-angle-right"></i>
                    </span>
        </div>
    </div>
    <div class="zone-body">
        <dl>
            <dd>
                <h4>测身价炫富</h4>
                <h5>身价大PK</h5>
            </dd>
            <dt>
                <img src="Content/images/img_17.jpg" alt="17">
            </dt>
        </dl>
        <dl>
            <dd>
                <h4>全场0利率</h4>
                <h5>购车无压力</h5>
            </dd>
            <dt>
                <img src="Content/images/img_19.jpg" alt="19">
            </dt>
        </dl>
        <dl>
            <dd>
                <h4>好人分期</h4>
                <h5>定制专属方案</h5>
            </dd>
            <dt>
                <img src="Content/images/img_17.jpg" alt="17">
            </dt>
        </dl>
    </div>
</div>