<footer class="footer">
    <ul>
        <li>
            <i class="fa fa-home f20"></i>
            <span>首页</span>
        </li>
        <li>
            <i class="fa fa-home f20"></i>
            <span>论坛</span>
        </li>
        <li>
            <i class="fa fa-home f20"></i>
            <span>选车</span>
        </li>
        <li>
            <i class="fa fa-home f20"></i>
            <span>发现</span>
        </li>
        <li>
            <i class="fa fa-home f20"></i>
            <span>未登录</span>
        </li>
    </ul>
</footer>